.multiselect {
  color: #fff;
}

.multiselect__tags {
  background-color: #282c34;
}

.multiselect__input,
.multiselect__single,
.multiselect__spinner,
.multiselect__content-wrapper,
.multiselect__option--disabled {
  background-color: #282c34 !important;
}

