:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;
  --theme-background-color: #282c34;
  --theme-color: #f9f9f9;
  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-light-3: rgba(60, 60, 60, 0.56);

  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;

  /* CSS HEX */
  --amaranth-pink: #e08dacff;
  --glaucous: #6a7fdbff;
  --fluorescent-cyan: #57e2e5ff;
  --emerald: #45cb85ff;
  --gunmetal: #153131ff;

  /* CSS HSL */
  /* --amaranth-pink: hsla(338, 57%, 72%, 1);
  --glaucous: hsla(229, 61%, 64%, 1);
  --fluorescent-cyan: hsla(181, 73%, 62%, 1);
  --emerald: hsla(149, 56%, 53%, 1);
  --gunmetal: hsla(180, 40%, 14%, 1); */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}



/* SCSS HEX */
/* $amaranth-pink: #e08dacff;
$glaucous: #6a7fdbff;
$fluorescent-cyan: #57e2e5ff;
$emerald: #45cb85ff;
$gunmetal: #153131ff; */

/* SCSS HSL */
/* $amaranth-pink: hsla(338, 57%, 72%, 1);
$glaucous: hsla(229, 61%, 64%, 1);
$fluorescent-cyan: hsla(181, 73%, 62%, 1);
$emerald: hsla(149, 56%, 53%, 1);
$gunmetal: hsla(180, 40%, 14%, 1); */

/* SCSS RGB */
/* $amaranth-pink: rgba(224, 141, 172, 1);
$glaucous: rgba(106, 127, 219, 1);
$fluorescent-cyan: rgba(87, 226, 229, 1);
$emerald: rgba(69, 203, 133, 1);
$gunmetal: rgba(21, 49, 49, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #e08dacff, #6a7fdbff, #57e2e5ff, #45cb85ff, #153131ff);
$gradient-right: linear-gradient(90deg, #e08dacff, #6a7fdbff, #57e2e5ff, #45cb85ff, #153131ff);
$gradient-bottom: linear-gradient(180deg, #e08dacff, #6a7fdbff, #57e2e5ff, #45cb85ff, #153131ff);
$gradient-left: linear-gradient(270deg, #e08dacff, #6a7fdbff, #57e2e5ff, #45cb85ff, #153131ff);
$gradient-top-right: linear-gradient(45deg, #e08dacff, #6a7fdbff, #57e2e5ff, #45cb85ff, #153131ff);
$gradient-bottom-right: linear-gradient(135deg, #e08dacff, #6a7fdbff, #57e2e5ff, #45cb85ff, #153131ff);
$gradient-top-left: linear-gradient(225deg, #e08dacff, #6a7fdbff, #57e2e5ff, #45cb85ff, #153131ff);
$gradient-bottom-left: linear-gradient(315deg, #e08dacff, #6a7fdbff, #57e2e5ff, #45cb85ff, #153131ff);
$gradient-radial: radial-gradient(#e08dacff, #6a7fdbff, #57e2e5ff, #45cb85ff, #153131ff); */